{% extends "layout.html" %}
{% block body %}
    {#  Showing Graph Image  #}
    <div class="mt-3 pt-1 mx-2 border border-secondary">
        <div class="" id="loaded_img"></div>
        <div class="text-center" id="weight_sum_area"></div>
    </div>
    {#  Run a move #}
    <div class="container mt-3">
        <h5>Run a move with a utility function:</h5>
        <div class="text-secondary">
            All of the following 3 options use the utility function given below.
            The difference between weighted & non-weighted utility function is whether to set vertices' "priority".
            If weighted MIS is selected, priority is counted by the priority function listed below.
        </div>
        <div class="text-danger" id="create_graph_first_hint">Hint: Create a graph first before running a
            move.
        </div>
        <div class="form-check">
            <input id="utility0" class="form-check-input" type="radio" name="flexRadioDefault" checked>
            <label class="form-check-label" for="utility0">
                Non-weighted maximum independent set
            </label>
        </div>
        <div class="form-check">
            <input id="utility1" class="form-check-input" type="radio" name="flexRadioDefault">
            <label class="form-check-label" for="utility1">
                Weighted maximum independent set (priority function 1)
            </label>
        </div>
        <div class="form-check">
            <input id="utility2" class="form-check-input" type="radio" name="flexRadioDefault">
            <label class="form-check-label" for="utility2">
                Weighted maximum independent set (priority function 2)
            </label>
        </div>
        <div class="container row">
            <div class="form-text mb-2 col-md-6 col-sm-12">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">&alpha;</span>
                    <input id="utility_alpha" type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm" value="2.0">
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <img src="{{ url_for('static', filename='img/mis_utility.png') }}"
                     class="img-fluid" alt="mis_utility.png">
            </div>
        </div>
        <div class="container row">
            <div class="col-md-6 col-sm-12">
                <img src="{{ url_for('static', filename='img/wmis_u1.png') }}"
                     class="img-fluid" alt="wmis_u1.png">
            </div>
            <div class="col-md-6 col-sm-12">
                <img src="{{ url_for('static', filename='img/wmis_u2.png') }}"
                     class="img-fluid" alt="wmis_u2.png">
            </div>
        </div>


        <button id='run_a_move' type="button" class="btn btn-secondary">Run a move</button>
    </div>
    {# Run games #}
    <div class="container mt-3">
        <h5>Run for comparing different methods:</h5>
        <div class="text-danger">It may take some time.</div>
        <p>
            Construct graph using ws model. Randomize the strategies and weights.
            Each vertex: 50% to use strategy 1 or 0; weight randomly selected from 1~5, each is 20%;
            all vertices' weight expected sum is 3. Rewiring probability will be tested from 0.99~1.07 per 0.02. Alpha
            used is 2.0. K must be even.
        </p>
        <form id="run_game_form" class="">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="form-floating mb-2">
                        <input id="run_game_n_input" type="text" class="form-control" placeholder=" "
                               aria-label="run_game_n_input" value="30">
                        <label for="run_game_n_input">#vertices</label>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="form-floating mb-2">
                        <input id="run_game_k_input" type="text" class="form-control" placeholder=" "
                               aria-label="run_game_k_input" value="4">
                        <label for="run_game_k_input">#K nearest</label>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="form-floating mb-2">
                        <input id="run_game_n_games_input" type="text" class="form-control" placeholder=" "
                               aria-label="run_game_n_games_input" value="10">
                        <label for="run_game_n_games_input">#games</label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-secondary">Run</button>
        </form>
    </div>

    {#  Custom Graph  #}
    <div class="container mt-3">
        {# Create a custom graph #}
        <h5>Create a custom graph:</h5>
        <form id="custom_graph_form">
            <div class="form-floating mb-2">
                    <textarea class="form-control" placeholder=" " id="adjacency_matrix"
                              style="height: 150px; width: 100%">0 1 0 1 0&#10;1 0 1 0 0&#10;0 1 0 1 0&#10;1 0 1 0 1&#10;0 0 0 1 0</textarea>
                <label for="adjacency_matrix">Adjacency matrix (0, 1 only, split by a space)</label>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-floating mb-2">
                        <input id="strategies_input" type="text" class="form-control" placeholder=" "
                               aria-label="strategies_input" value="0 0 0 0 0">
                        <label for="strategies_input">Vertex strategies (0, 1 only, split by a space)</label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-floating mb-2">
                        <input id="weights_input" type="text" class="form-control" placeholder=" "
                               aria-label="weights_input" value="1.0 1.0 1.0 1.0 1.0">
                        <label for="weights_input">Vertex weights (each vertex's weight, split by a space)</label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
        {# Create a ws model #}
        <div class="mt-3">
            <h5>Create a ws model graph:</h5>
            <div>K must be even.</div>
            <form id="ws_graph_form" class="">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="form-floating mb-2">
                            <input id="ws_n_input" type="text" class="form-control" placeholder=" "
                                   aria-label="ws_n_input" value="30">
                            <label for="ws_n_input">Number of vertices</label>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="form-floating mb-2">
                            <input id="ws_k_input" type="text" class="form-control" placeholder=" "
                                   aria-label="ws_k_input" value="4">
                            <label for="ws_k_input">K nearest neighbors</label>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="form-floating mb-2">
                            <input id="ws_p_input" type="text" class="form-control" placeholder=" "
                                   aria-label="ws_p_input" value="0.4">
                            <label for="ws_p_input">Probability to rewire</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-check">
                            <input id="rand_strategies_input" class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label" for="rand_strategies_input">
                                Randomize strategies with 50% (default: all 0)
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-check">
                            <input id='rand_weights_input' class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label" for="rand_weights_input">
                                Randomize weights (default: all 1)
                            </label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mb-3">Create</button>
            </form>
        </div>
        {#  Check if a set is an independent set. #}
        <div class="mt-3">
            <h5>Check if the graph is an independent set.</h5>
            <div> (Set of all vertices with strategy 1)</div>
            <div class="text-danger">Hint: Create a graph first before checking.</div>
            <button id="check_IS_btn" class="btn btn-primary">Check</button>
            <div id="checked_result" class=""></div>
        </div>

        {# Toasts #}
        {# Successfully #}
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11; max-width: 100%">
            <div id="successfullyLiveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">Info</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body text-primary">Submit successfully!</div>
            </div>
        </div>
        {# Invalid Format #}
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11; max-width: 100%">
            <div id="failLiveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">Info</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body text-danger">Failed!</div>
            </div>
        </div>
        {# Unrecognized Format #}
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11; max-width: 100%">
            <div id="unrecognizedLiveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">Info</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body text-danger">Unrecognized response from server!</div>
            </div>
        </div>

        {# P.S. #}
        <h5 class="mt-3">Notes</h5>
        <ul>
            <li>Octagon means it has a better choice in the last turn.</li>
            <li>K must be even.</li>
            <li>Triple octagon means it's the vertex chosen to switch to the other strategy.</li>
            <li>Light blue means it's strategy is 1, not 0.</li>
            <li>"w1.0" means this vertex's weight is 1.0.</li>
            <li>Showing image may take some time.</li>
            <li>Not to set weight to be zero, or it may encounter divided by zero.</li>
            <li>If you turn on random-weight-initialization, each weight will be randomly picked from 0~n-1, where n is the total number of vertices.</li>
            <li>You can check the README.md for more information.</li>
        </ul>
    </div>


{% endblock %}

{% block js %}
    <script>
        function show_toast(state) {
            let toastLiveExample
            if (state === 'successful') {
                toastLiveExample = document.getElementById('successfullyLiveToast')
            } else if (state === 'failed') {
                toastLiveExample = document.getElementById('failLiveToast')
            } else {
                toastLiveExample = document.getElementsByClassName('unrecognizedLiveToast')
            }
            let toast = new bootstrap.Toast(toastLiveExample)
            toast.show()
        }

        function submit_ajax(data, url) {
            let codes = $('#contentCodes').text()
            $.ajax({
                type: "POST",
                contentType: 'application/json;charset=UTF-8',
                url: url,
                data: JSON.stringify({data: data, codes: codes}), // serializes the form's elements.
                success: function (response) {
                    console.log(response)
                    show_toast(response['state'])
                    {# Change img #}
                    let img_rand_code = `/static/img/tmp/${response['img']}.png`
                    $('#loaded_img').html('').html(`<img src=${img_rand_code} class="rounded mx-auto d-block" alt="..." id="loaded_img" style="max-width: 100%;">`)
                    $('#create_graph_first_hint').hide()
                    {# Renew record codes #}
                    $('#contentCodes').text(response['codes'])
                    {#  Renew weight sum  #}
                    $('#weight_sum_area').text(`Sum of all strategy one's weights: ${response['weight_sum']}`)
                }
            })
        }

        {# Submit custom graph #}
        $('#custom_graph_form').submit((e) => {
            let url = '/submit_custom_graph';
            let data = {
                'edges': $('#adjacency_matrix').val(),
                'strategies': $('#strategies_input').val(),
                'weights': $('#weights_input').val()
            }
            submit_ajax(data, url)
            e.preventDefault() // avoid to execute the actual submit of the form.
        })

        {#  Submit ws graph  #}
        let if_rand_strategies = false
        let if_rand_weights = false

        $(document).on('click', '#rand_strategies_input', function (e) {
            if_rand_strategies = !(if_rand_strategies !== false)
        });
        $(document).on('click', '#rand_weights_input', function (e) {
            if_rand_weights = !(if_rand_weights !== false)
        });
        $('#ws_graph_form').submit((e) => {
            let url = '/submit_ws_graph';
            let data = {
                'n': $('#ws_n_input').val(),
                'k': $('#ws_k_input').val(),
                'p': $('#ws_p_input').val(),
                'if_rand_strategies': if_rand_strategies,
                if_rand_weights: if_rand_weights
            }
            submit_ajax(data, url)
            e.preventDefault() // avoid to execute the actual submit of the form.
        })

        {#  Click "run a move"  #}
        let selected_u = 0// 0: non-weighted, 1: weighted u1; 2: weighted u2
        $(document).on('click', '#utility0', function (e) {
            selected_u = 0
        });
        $(document).on('click', '#utility1', function (e) {
            selected_u = 1
        });
        $(document).on('click', '#utility2', function (e) {
            selected_u = 2
        });
        $(document).on('click', '#run_a_move', function (e) {
            let url = '/run_a_move'
            let alpha = $('#utility_alpha').val()
            let data = {'alpha': alpha, 'selected_u': selected_u}
            submit_ajax(data, url)
            e.preventDefault()
        });

        {#  Click "run games"  #}
        $(document).on('click', '#run_game_form button', function (e) {
            let url = '/run_games'
            let data = {
                'n': $('#run_game_n_input').val(),
                'k': $('#run_game_k_input').val(),
                'n_games': $('#run_game_n_games_input').val(),
            }
            submit_ajax(data, url)
            e.preventDefault()
        });

        {#  Click "check IS"  #}
        $(document).on('click', '#check_IS_btn', function (e) {
            let codes = $('#contentCodes').text()
            let url = '/check_independent_set'
            let data = {}
            $.ajax({
                type: "POST",
                contentType: 'application/json;charset=UTF-8',
                url: url,
                data: JSON.stringify({data: data, codes: codes}), // serializes the form's elements.
                success: function (response) {
                    console.log(response)
                    show_toast(response['state'])
                    $("#checked_result").text(response['result'])
                }
            })
            e.preventDefault()
        });


    </script>
{% endblock %}